
body {
    margin: 0;
    padding: 0;
}

#pantalla1 {
    height: 100vh;
    width: 100vw;

    background-color: chocolate;

    display: flex;
    justify-content: center;
    align-items: center;

}

#pantalla2 {
    height: 100vh;
    width: 100vw;

    background-color: crimson;

    display: none;
    justify-content: center;
    align-items: center;
}

#pantalla3 {
    height: 100vh;
    width: 100vw;

    background-color: blue;

    display: none;
    align-items: center;
    flex-direction: row !important;
    justify-content: center;
   

}

#pantalla4 {
    height: 100vh;
    width: 100vw;

    background-color: yellow;

    display: none;
}

#pantalla5 {
    height: 100vh;
    width: 100vw;

    background-color: orange;

    display: none;
}


.logo {

    height: 15em;

    width: 27em;
} 

.padre {

    display: flex;

    width: 50em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.foto {
    height: 8em;

    padding: 2em;
}

.fotoVersus {

    height: 10em;

}

.hijoVersus {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

.padreTres  {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}