
body {
    margin: 0;
    padding: 0;
}

#pantalla1 {
    height: 100vh;
    width: 100vw;

    background-color: chocolate;
}

#pantalla2 {
    height: 100vh;
    width: 100vw;

    background-color: crimson;

    display: none;
}
